#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bg-area {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.color-tile {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}